#canvas{
    border: 5px solid red;
    background : url("bg2.png");
    -webkit-animation: animatedBackground 30s linear infinite;
    background-repeat: repeat-y;
    margin-left: 65px;
}

@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0 1000px; }
}
#player{
    display:none;
}
#alien{
    display: none;
}
#alien1{
    display: none;
}
#alien2{
    display: none;
}
#alien3{
    display: none;
}
#alien4{
    display: none;
}
#bullet{
    display: none; 
}
#blast{
    display: none; 
}

#play{
    position: absolute;
    right: 5px;
}
#pause{
    position: absolute;
    right: 5px;
    /* color: #ffffff; */
}
#level{
    position: absolute;
    left: 2px;
}
#levelNo{
    position: absolute;
    left: 2px;
    top :30px
}
#score{
    position: absolute;
    left: 2px;
    top :70px
}
#score1{
    position: absolute;
    left: 2px;
    top :100px
}